{:paths ["src/dev"
         "src/main"]
 :deps {uix.core/uix.core {:git/url "https://github.com/roman01la/uix.git"
                           :deps/root "core"
                           :sha "03bf38eda418c889fe9cdfad1c9738d5563719e4"}
        uix.dom/uix.dom {:git/url "https://github.com/roman01la/uix.git"
                         :deps/root "dom"
                         :sha "03bf38eda418c889fe9cdfad1c9738d5563719e4"}
        pitch/hashpr {:local/root "lib/hashpr"}}
 :aliases
 {:shadow-cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.18.0"}}
   :main-opts ["-e" "(require,'hashpr.core)" "-m" "shadow.cljs.devtools.cli"]}}}
