;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :dev-http {8012 "public"}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:entries [todomvc.app]}}}
  :test {:target :browser-test
         :ns-regexp "-spec$"
         :runner-ns todomvc.jest
         :test-dir "dist-test"}}}
