;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :dev-http {8012 "public"}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:entries [todomvc.app]}}}
  :test {:target :node-test
         :ns-regexp "-spec$"
         :main todomvc.jest/main
         :output-to "dist-test/out.js"}}}
