;; shadow-cljs configuration
{:deps true

 :builds
 {:app {:target :npm-module
        :output-dir "dist"
        :entries [tdd.main]}
  :test {:target :npm-module
         :ns-regexp "-spec$"
         :output-dir "dist-test"}}}
