.board {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    position: relative;
}

.box {
    border: 6px solid #2c3e50;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: black;
    background-color: #facade;
    padding: 15px;
    border-radius: 10px;
    transform: translate(-50%,0);
}

.highlight {
    color: yellow;
}
